body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 20vh;
  flex: 0 0 80vw;
}

.statistics {
  flex: 0 0 20vh;
}

.row {
  display: flex;
  justify-content: space-between;
}

.full-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.award-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container span {
  font-size: 24px;
  font-family: sans-serif;
}

.award > h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
}

.award > img {
  width: 100px;
}

.yeomans-work {
  color: rgb(0, 255, 0);
}

.quill-tip {
  text-decoration: underline;
}

.error {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

.hidden {
  display: none;
}
