body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 20vh;
  flex: 0 0 80vw;
}

.statistics {
  flex: 0 0 20vh;
}

.full-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container span {
  font-size: 24px;
  font-family: sans-serif;
}

.yeomans-work {
  color: rgb(0, 255, 0);
}

.quill-tip {
  text-decoration: underline;
}

.error {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}
